# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
securefedhe-env/
venv/
.venv/

# Large datasets
data/cifar10/cifar-10-python.tar.gz
data/cifar10/cifar-10-batches-py/

# Model checkpoints
*.pth

# OS files
.DS_Store
Thumbs.db
data/cifar10/
__pycache__/
*.pyc
securefedhe/
