# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
securefedhe-env/
venv/
.venv/

# Large datasets — too big for GitHub
data/cifar10/cifar-10-python.tar.gz
data/cifar10/cifar-10-batches-py/

# Model checkpoints (large binary files)
*.pth

# OS files
.DS_Store
Thumbs.db
